@model BusinessLogicLayer.UserBLL

@{
    ViewBag.Title = "My Account";
}
<style>
    h2 {
        color:rgb(0, 148, 255);
    }
    dl {
        color:rgb(128, 128, 128)
    }
</style>


<h2>My Account Info</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.HiddenFor(model => model.UserID)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_sub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_sub)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.RoleID)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.RoleID)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Username }) |
    @Html.ActionLink("Back", "Index")
</p>
