@model BusinessLogicLayer.UserBLL

@{
    ViewBag.Title = "User Details";
}
<style>
    h2 {
        color:rgb(0, 144, 255)
    }
    h3 {
        color:rgb(96, 107, 113)
    }
    dt {
        color:rgb(128, 128, 128)
    }
    dd {
        color:rgb(15, 98, 178)
    }
</style>

<h2>User Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_sub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_sub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Privileges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Privileges)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
