@model BusinessLogicLayer.GameBLL

@{
    ViewBag.Title = "Game Details";
}
<style>
    dl {
        color:rgb(128, 128, 128)
    }
</style>

<h2>Game Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Release_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Release_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purchase_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
